<% provide(:title, 'Schipperius Infographic') %>
<!DOCTYPE html>
<html lang="en">

<head>
	<%= render 'layouts/head' %>
</head>

<body data-spy="scroll" data-target=".navbar-example">

	<header>
		<%= render 'layouts/header' %>
	</header>

	<main>
    <%= yield %>
  </main>

  <footer>
		<%= render 'layouts/footer' %>
		<%= render 'layouts/foot' %>
	</footer>

</body>

</html>