<!-- Site ======================================================= -->

<% provide(:title, 'Schipperius Infographic') %>

<!DOCTYPE html>

<html lang="en">

<head>
	<%= render 'layouts/head' %>
</head>

<body>

	<header class="navbar navbar-default navbar-fixed-top" role="navigation">
		<%= render 'layouts/header' %>
	</header>

	<main class="container" role="main">
    <%= yield %>
  </main>

  <footer>
		<%= render 'layouts/footer' %>
		<%= render 'layouts/foot' %>
	</footer>

</body>

</html>
