<% provide(:title, 'Schipperius Infographic') %>

<!DOCTYPE html>

<html lang="en" xmlns:xlink="http://www.w3.org/1999/xlink">

<head>
	<%= render 'layouts/head' %>
</head>

<body id="home" data-spy="scroll" data-target=".nav-scroll">

	<header>
		<%= render 'layouts/header' %>
	</header>

	<main class="container">
    <%= yield %>
  </main>

  <footer>
		<%= render 'layouts/footer' %>
		<%= render 'layouts/foot' %>
	</footer>

</body>

</html>
